@import "../tools/mixins";
@import "../tools/breakpoints";

.contact{
  position: relative;
  padding: 70px 0 80px 0;

  &__title{
    @include title;
    margin-bottom: 15px;
  }
  &__txt{
    font-size: 16px;
    line-height: 1.5;
    color: var(--warm-grey);
    margin-bottom: 30px;
  }
}


.contact-list{
  &__item{
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    i{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--rouge);
      font-size: 14px;
    }
    p{
      font-size: 16px;
      line-height: 1.25;
      color: var(--black);
    }
  }
}

#contact-map{
  height: 400px;
}