@import "../tools/mixins";
@import "../tools/breakpoints";

.app-home{
  position: relative;
  margin-top: 90px;

  background-color: #ccc;
  &__btn-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 115px;
    max-width: 1170px;
    margin: auto;
    text-align: right;
    z-index: 9;
    @media(max-width: $breakpoint-lg){
      display: none;
    }
    li{
      display: inline-block;
      button{
        position: relative;
        left: initial;
        top: initial;
        bottom: initial;
        right: initial;
        transform: none;
      }
    }
    li + li{
      margin-left: 15px;
    }
  }

  &__carousel{}
  &__cell{
    width: 100%;
    height: calc(100vh - 90px);
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media(max-width: $breakpoint-lg){
      height: 500px;
    }
    @media(max-width: $breakpoint-sm){
      height: 620px;
    }
  }
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }
  &__content{
    position: relative;
    z-index: 3;
    padding-top: 125px;
    @media(max-width: $breakpoint-lg){
      padding-top: 100px;
    }
    @media(max-width: $breakpoint-sm){
      padding-top: 80px;
    }
  }
  &__subtitle{
    display: inline-block;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    &:after{
      content: '';
      position: absolute;
      right: -85px;
      top: 11px;
      width: 70px;
      height: 1px;
      background-color: #fff;
    }

  }
  &__title{
    display: block;
    max-width: 780px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: normal;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
    @media(max-width: $breakpoint-sm){
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
}

.home-search{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  max-width: 1920px;
  margin: auto;
  &__left-column{
    @include grid-size(calc(100% - 70.55555%));
    @media(max-width: $breakpoint-lg){
      display: none;
    }
  }
  &__right-column{
    @include grid-size(70.55555%);
    @media(max-width: $breakpoint-lg){
      @include grid-size(100%);
    }
  }
  &__form{
    position: relative;
    ::-webkit-input-placeholder {
      text-transform: capitalize;
      font-size: 16px;
    }
    ::-moz-placeholder {
      text-transform: capitalize;
      font-size: 16px;
    }
    :-ms-input-placeholder {
      text-transform: capitalize;
      font-size: 16px;
    }
    :-moz-placeholder {
      text-transform: capitalize;
      font-size: 16px;
    }
  }
  &__input{
    height: 80px;
    border: 0;
    padding-right: 365px;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--pinkish-grey);
    background-color: rgba(0,0,0,0.6);
    @media(max-width: $breakpoint-lg){
      padding-right: 250px;
    }
    @media(max-width: $breakpoint-sm){
      padding-right: 0;
    }
    &:focus{
      color: var(--pinkish-grey);
    }
  }
  &__btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    max-width: 365px;
    @media(max-width: $breakpoint-lg){
      max-width: 250px;
    }
    @media(max-width: $breakpoint-sm){
      position: relative;
      right: 0;
      top: 0;
      height: 80px;
      max-width: 100%;
    }
  }
}

.home-item{
  position: relative;
  max-width: 370px;
  margin: auto;
  &:hover{
    .home-item__title{
      color: var(--rouge);
    }
    .home-item__overlay{
      opacity: 1;
    }
  }
  &__image-column{
    @include grid-size(100%!important);
    margin-bottom: 15px;
  }
  &__content-column{
    @include grid-size(100%!important);
  }
  &__image{
    height: 275px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media (max-width: $breakpoint-xl){
      height: 250px;
    }
  }
  &__label{
    position: absolute;
    left: 15px!important;
    top: 5px;
    color: #fff;
    padding: 0 5px;
    width: auto;
    border-radius: 3px;
    background-color: var(--col-black);
  }

  .home-item__label + .home-item__status{
    top: 35px;
  }
  &__status{
    position: absolute;
    left: 15px!important;;
    top: 5px;
    color: #fff;
    padding: 0 5px;
    width: auto;
    border-radius: 3px;
    background-color: var(--rouge);
  }
  &__overlay{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.3s;
    .btn-primary{
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__price{
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 135px;
    height: 35px;
    border-radius: 1px;
    background-color: var(--col-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff;
  }
  &__title{
    display: block;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    color: var(--col-black);
    transition: all 0.3s;
  }
  &__city{
    font-size: 14px;
    color: var(--warm-grey);
    margin-bottom: 15px;
  }
}

.app-featured{
  padding: 90px 0 60px 0;
  background-color: #fafafa;
  @media(max-width: $breakpoint-lg){
    padding: 60px 0 70px 0;
  }
  &__column{
    padding: 0 15px;
  }
  &__title{
    margin-bottom: 25px;
    @media(max-width: $breakpoint-lg){
      text-align: center;
    }
  }
  &__txt{
    margin-bottom: 40px;
    @media(max-width: $breakpoint-lg){
      text-align: center;
    }
    @media(max-width: $breakpoint-sm){
      margin-bottom: 30px;
    }
  }
  &__btn-list{
    @media(max-width: $breakpoint-lg){
      text-align: center;
      margin-bottom: 30px;
    }
    li{
      display: inline-block;
      button{
        position: relative;
        left: initial;
        top: initial;
        bottom: initial;
        right: initial;
        transform: none;
      }
    }
    li + li{
      margin-left: 15px;
    }
  }
  &__carousel{
  }
  .flickity-viewport{
    margin: 0 -7px;
  }
  &__cell{
    padding: 0 7px;
    width: 50%;
    @media(max-width: $breakpoint-sm){
      width: 100%;
    }
  }
}

.app-listing{
  padding: 60px 0 70px 0;
  &__title{
    margin-bottom: 40px;
    @media(max-width: $breakpoint-lg){
      text-align: center;
      margin-bottom: 110px;
    }
  }
  &__carousel{
    width: 100%;
    .flickity-prev-next-button{
      top: calc(50% - 35px);
      @media(max-width: $breakpoint-lg){
        top: -80px;
      }
    }
    .flickity-prev-next-button.previous{
      left: -90px;
      @media(max-width: 1440px){
        left: -45px;
      }
      @media(max-width: 1300px){
        left: 0;
      }
      @media(max-width: $breakpoint-lg){
        left: calc(50% - 50px);
      }
    }
    .flickity-prev-next-button.next{
      right: -90px;
      @media(max-width: 1440px){
        right: -45px;
      }
      @media(max-width: 1300px){
        right: 0;
      }
      @media(max-width: $breakpoint-lg){
        right: calc(50% - 50px);
      }
    }
  }
  .flickity-viewport{
    margin: 0 -7px;
  }
  &__cell{
    width: 33.33333%;
    padding: 0 7px;
    @media(max-width: $breakpoint-lg){
      width: 50%;
    }
    @media(max-width: $breakpoint-sm){
      width: 100%;
    }
  }
}




.app-links{
  margin-bottom: 70px;
  &__content{
    position: relative;
    max-width: 1440px;
    margin: auto;
  }
  &__item{
    position: relative;
  }

  &__item-1{
    .app-links__column-btn{
      background-color: #000;
    }
    .app-links__overlay{
      background-color: rgba(0,0,0,0.3);
    }
  }
  &__item-2{
    .app-links__row{
      justify-content: flex-end;
    }
    .app-links__column-btn{
      background-color: var(--rouge);
    }
    .app-links__overlay{
      background-color: rgba(182, 22, 37, 0.75);
    }
    @media(max-width: $breakpoint-lg){
      .app-links__column-btn:first-child{
        @include order(2);
      }
      .app-links__column-img:last-child{
        @include order(1);
      }
    }

  }

  &__column-img{
    position: relative;
    height: 150px;
    @include grid-size(65%);
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media(max-width: $breakpoint-xl){
      @include grid-size(65%);
    }
    @media(max-width: $breakpoint-lg){
      @include grid-size(100%);
    }
  }
  &__column-btn{
    position: relative;
    height: 150px;
    @include grid-size(25%);
    @media(max-width: $breakpoint-xl){
      @include grid-size(35%);
    }
    @media(max-width: $breakpoint-lg){
      @include grid-size(100%);
    }
  }
  &__img{
    height: 100px;
  }
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__title{
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 38px;
    line-height: normal;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    @media(max-width: $breakpoint-sm){
      font-size: 32px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
  &__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 280px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    &.btn-secondary:hover i {
      transform: translate(calc(-50% + 85px), -50%);
    }
  }
}


.app-succeed{
  &__column{
    &:first-child{
      @media (max-width: $breakpoint-lg){
        @include order(2);
      }
    }
    &:last-child{
      @media (max-width: $breakpoint-lg){
        @include order(1);
      }
    }
  }
  &__title{
    margin-bottom: 25px;
    @media (max-width: $breakpoint-xl){
      margin-bottom: 20px;
    }
  }
  &__txt{
    margin-bottom: 40px;
    @media (max-width: $breakpoint-xl){
      margin-bottom: 20px;
    }
  }
  &__img{
    @media (max-width: $breakpoint-lg){
      max-width: 570px;
      margin: auto;
    }
    @media (max-width: $breakpoint-sm){
      max-width: 100%;
    }
  }
  &__content{
    @media (max-width: $breakpoint-lg){
      margin-bottom: 50px;
    }
  }
}

.app-benefits{
  padding: 45px 0;
  background-color: #c2c2c2;
  @media (max-width: $breakpoint-lg){
    padding: 60px 0;
  }
  &__column{
    &:after{
      content: '';
      position: absolute;
      right: -30px;
      top: 20px;
      width: 70px;
      height: 1px;
      opacity: 0.2;
      background-color: #4b4b4b;
      @media (max-width: $breakpoint-sm){
        right: initial;
        left: 50%;
        top: 150px;
        transform: translateX(-50%);
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    @media (max-width: $breakpoint-lg){
     &:nth-child(2){
       &:after{
         display: none;
       }
      }
    }
    @media (max-width: $breakpoint-sm){
      &:nth-child(2){
        &:after{
          display: block;

        }
      }
    }
    @media (max-width: $breakpoint-lg){
      &:nth-child(1), &:nth-child(2){
        margin-bottom: 60px;
      }
    }
    @media (max-width: $breakpoint-sm){
      margin-bottom: 110px!important;
    }
    @media (max-width: $breakpoint-sm){
      &:last-child{
        margin-bottom: 0!important;
      }
    }
  }
  &__icon{
    text-align: center;
    display: block;
    font-size: 45px;
    height: 45px;
    color: var(--rouge);
    margin-bottom: 25px;
  }
  &__txt{
    font-family: 'Libre Baskerville',sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    color: #fff;
    text-align: center;
  }
}






.app-testimonials{
  position: relative;
  background: center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }
  &__content{
    position: relative;
    z-index: 3;
    height: 400px;
    padding-top: 125px;
    max-width: 1440px;
    margin: auto;
    @media(max-width: $breakpoint-xl){
      height: 625px;
      padding-top: 60px;
    }
  }

  &__subtitle{
    display: inline-block;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    &:after{
      content: '';
      position: absolute;
      right: -85px;
      top: 11px;
      width: 70px;
      height: 1px;
      background-color: #fff;
    }

  }
  &__title{
    display: block;
    max-width: 780px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: normal;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
    @media(max-width: $breakpoint-sm){
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
  &__btn-list{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    max-width: 1170px;
    margin: auto;
    text-align: left;
    z-index: 9;
    @media(max-width: $breakpoint-xl){
      display: none;
    }
    li{
      display: inline-block;
      button{
        position: relative;
        left: initial;
        top: initial;
        bottom: initial;
        right: initial;
        transform: none;
      }
    }
    li + li{
      margin-left: 15px;
    }
  }
}


.testimonials-quote{
  &__carousel{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 705px;
    width: 100%;
    height: 300px;
    z-index: 9;
    background-color: rgba(255,255,255,0.8);

    @media(max-width: $breakpoint-xl){
      max-width: 605px;
    }
    @media(max-width: $breakpoint-sm){
      max-width: 320px;
    }
    &:before{
      content: '\e918';
      font-family: 'icomoon', sans-serif;
      position: absolute;
      z-index: -1;
      top: 5px;
      left: -15px;
      font-size: 90px;
      color: var(--rouge);
      @media(max-width: $breakpoint-sm){
        font-size: 45px;
      }
    }
  }
  &__cell{
    width: 100%;
  }
  &__content{
    padding: 60px 125px 55px 40px;
    @media(max-width: $breakpoint-xl){
      padding: 90px 30px 65px 50px;
    }
    @media(max-width: $breakpoint-sm){
      padding: 30px 20px 30px 40px;
    }
  }
  &__txt{
    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    color: var(--col-black);
    margin-bottom: 25px;

  }
  &__author{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: var(--warm-grey);
  }
}

















