@import "../tools/mixins";
@import "../tools/breakpoints";


.footer{
  padding: 60px 0;
  background-color: var(--col-black);
}



.copyright{
  border-top: 1px solid rgba(117, 117, 117, 0.4);
  background-color: var(--col-black);
  &__row{
    height: 100px;
  }
  &__txt{
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: var(--warm-grey);
    a:hover{
      color: #fff;
    }
  }

}