@import "../tools/mixins";
@import "../tools/breakpoints";

.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  backface-visibility: hidden;
  background-color: #fff;
  &__container{
    position: relative;
  }
  &__row{
    height: 90px;
  }
  &__column{
    padding: 0 15px;
  }
  &__logo{
    max-width: 180px;
  }
  .custom-logo{
    @media (max-width: $breakpoint-sm) {
      max-width: 100px;
      height: initial;
      width: initial;
    }
  }
}

.container-newsletter{
  position: absolute;
  right: 15px;
  top: 20px;
  @media (max-width: 1200px){
    right: 75px;
    top: 20px;
    width: 200px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 155px;
    a{
      font-size: 12px;
    }
  }
}

.header-list{
  padding-right: 220px;
  text-align: right;
  @media (max-width: $breakpoint-xl){
    display: none;
    position: fixed;
    left: 0;
    right: -17px;
    top: 90px;
    bottom: 0;
    padding: 15px;
    padding-right: 17px;
    background-color: #fff;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  &__item{
    position: relative;
    display: inline-block;
    @media (max-width: $breakpoint-xl){
      display: block;
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-sm){
      margin-bottom: 5px;
    }
    & + & {
      margin-left: 30px;
      @media (max-width: $breakpoint-xl){
        margin-left: 0;
      }
    }
    &:hover{
      > .header-sublist{
        @media (min-width: 991px){
          display: block;
        }
      }
      .header-list__btn{
        i{
          transform: scale(-1);
          @media (max-width: $breakpoint-xl){
            transform: none;
          }
        }
      }
    }
  }
  &__link{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 90px;
    line-height: 90px;
    color: var(--col-black);
    display: block;
    text-transform: uppercase;
    transition: all 0.3s;
    @media (max-width: $breakpoint-xl){
      height: 45px;
      line-height:  45px;
      padding: 0 15px;
    }
    &.active{
      color: var(--rouge);
      @media (max-width: $breakpoint-xl){
        color: var(--rouge);
      }
      &:before{
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 30px;
        height: 2px;
        background-color: var(--rouge);
        @media (max-width: $breakpoint-xl){
          display: none;
        }
      }
    }
    &:hover{
      color: var(--rouge);
      @media (max-width: $breakpoint-xl){
        color: initial;
      }
    }
  }
  &__newsletter{
    width: 200px;
    @media (max-width: $breakpoint-xl){
      width: 100%;
      max-width: 100%;
    }
  }

  &__btn{
    @extend .header-list__link;
    padding-right: 20px;
    &.active{
      @media (max-width: $breakpoint-sm){
        color: #fff;
        background-color: var(--rouge);
        i{
          color: #fff;
          transform: scale(-1)!important;
        }
      }
    }
    i{
      position: absolute;
      font-size: 8px;
      color: var(--col-black);
      right: 0;
      top: 42px;
      transition: all 0.3s;
      @media (max-width: $breakpoint-xl){
        right: 10px;
        top: 17px;
      }
      @media (max-width: $breakpoint-xl){
        color: initial;
      }
    }

  }

}


.header-sublist{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 250px;
  text-align: left;
  padding: 5px;
  background-color: #fff;
  @media (max-width: $breakpoint-xl){
    position: relative;
    width: 100%;
    padding-left: 45px;
  }
  &.active{
    display: block;
  }
  &__item{
    display: block;
    margin-bottom: 15px;
  }
  &__link{
    display: inline-block;
    font-size: 14px;
    color: var(--warm-grey);
    transition: all 0.3s;
    &:hover{
      color: var(--rouge);
    }
    &.active{
      color: var(--rouge);
    }
  }
}




.hamburger {
  display: none;
}

@media (max-width: $breakpoint-xl) {
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
    margin: 0;
    padding: 29px 20px;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &, .hamburger__box {
      cursor: pointer;
      display: inline-block;
    }
    &__box {
      position: relative;
      width: 33px;
      height: 24px;
      top: 0;
    }
    &__inner {
      display: block;
      margin-top: -2px;
      &, &:before, &:after {
        position: absolute;
        width: 33px;
        height: 2px;
        border-radius: 10px;
        top: auto;
        bottom: 0;
        -webkit-transition-delay: .13s;
        transition-delay: .13s;
        -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transition-duration: .13s;
        transition-duration: .13s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        background-color: var(--col-black);
      }
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        top: -10px;
        -webkit-transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
      }
      &:after {
        bottom: -10px;
        top: -20px;
        -webkit-transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
      }
    }
  }
  .is-active{
    .hamburger__inner{
      -webkit-transition-delay: .22s;
      transition-delay: .22s;
      -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translate3d(0,-10px,0) rotate(-45deg);
      transform: translate3d(0,-10px,0) rotate(-45deg);
    }
    .hamburger__inner:before{
      top: 0;
      -webkit-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .hamburger__inner:after{
      top: 0;
      -webkit-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      opacity: 0;
    }
  }
}



.js-show {display:block;}