@import "../tools/mixins";
@import "../tools/breakpoints";


.btn{
  position: relative;
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  backface-visibility: hidden;
}


.btn-primary{
  display: block;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  &.--max-width{
    max-width: 100%;
  }
  &.--red{
    color: #fff;
    background-color: var(--rouge);
    &:hover{
      background-color: var(--col-black);
    }
  }
  &.--newsletter{
    span{
      position: relative;
      padding-left: 35px;
    }
    i{
      position: absolute;
      font-size: 25px;
      left: 0;
      top: -4px;
    }
  }
  &.--arrow-right{
    span{
      position: relative;
      padding-right: 35px;
    }
    i{
      position: absolute;
      font-size: 14px;
      right: 0;
      top: 3px;
    }
  }
}

